
.icon-warning:before { content: '\e800'; } /* '' */
.icon-map:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-menu-outline:before { content: '\e803'; } /* '' */
.icon-block-outline:before { content: '\e804'; } /* '' */
.icon-mic:before { content: '\e805'; } /* '' */